/*
    python-summit.ch builds uses the Spectre as it's base:
    https://picturepan2.github.io/spectre/
*/

// customizations
$html-font-size: 20px;

$spsa-blue-dark: #182834;
$spsa-blue: #1f7ac6;
$spsa-blue-light: #4b8bbe;
$spsa-blue-pastel: #dbeef2;

$spsa-orange-dark: #a74d19;
$spsa-orange: #f76d1e;
$spsa-orange-light: #ff9a60;
$spsa-orange-pastel: #ffe3d3;

$header-bullet-color: $spsa-orange;
$actual-bullet-color: $spsa-blue;

$primary-color: $spsa-blue;
$secondar-color: $spsa-orange;

$navigation-fg: #fff;
$navigation-bg: rgba(50, 50, 50, .5);
$max-line-width: 67ex;
$smooth-borders: 3px;

$note-pastel: #f5f5f5;
$info-pastel: #dcf2e6;
$tip-pastel: $spsa-blue-pastel;
$warning-pastel: $spsa-orange-pastel;

// minimal requirements
@import 'spectre/variables';
@import 'spectre/mixins';
@import 'spectre/normalize';
@import 'spectre/base';
@import 'spectre/utilities';

// selected components
@import 'spectre/typography';
@import 'spectre/buttons';
@import 'spectre/layout';
@import 'spectre/media';
@import 'spectre/navbar';
@import 'spectre/chips';

// utilities
@mixin prefix ($prop, $val) {
    // sass-lint:disable-block property-sort-order
    -webkit-#{$prop}: #{$val};
    -moz-#{$prop}: #{$val};
    -ms-#{$prop}: #{$val};
    #{$prop}: #{$val};
}

// adjusted headings
h1,
.h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

h2,
.h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

h3,
.h3 {
    font-size: 1rem;
    font-weight: 500;
}

h4,
.h4 {
    font-size: .9rem;
    font-weight: 600;
}

h5,
.h5 {
    font-size: .8rem;
    font-weight: 600;
}

h6,
.h6 {
    font-size: .7rem;
    font-weight: 600;
}

// logos
.logo-small {
    width: 32px;
}

// header
.cover {
    border-radius: $smooth-borders;
    margin-top: -10rem;
    max-height: 25rem;
    overflow: hidden;
}

.navbar {
    height: 2rem;
    margin-top: -2rem;

    .navbar-section {
        @include prefix(backdrop-filter, blur(2px));

        background: $navigation-bg;
        border-radius: $smooth-borders $smooth-borders 0 0;
        padding-left: 1ex;

        a,
        a.btn {
            color: $navigation-fg;

            &:hover {
                color: $spsa-blue-light;
            }
        }
    }
}

// lists
ul {
    list-style: none;
    margin-left: 0;
    position: relative;
}

// bullets
li::before,
h1::before {
    color: $header-bullet-color;
    content: '•';
    left: -1.5ex;
    margin-top: -1px;
    position: absolute;
}

li::before {
    color: $actual-bullet-color;
}

// page
.page {
    padding: 1rem;

    p {
        max-width: $max-line-width;

        img {
            width: 125%;
        }
    }

    li {
        max-width: $max-line-width;
    }

    h1 {
        position: relative;
    }

    .media {
        margin: 0 0 1.5rem;
        max-width: 80%;

        img {
            margin-bottom: -.5rem;
            width: 100%;
        }

        &.map {
            margin-bottom: .5rem;
            position: relative;
            top: -1rem;
        }
    }
}

// admonitions
.admonition {
    border-radius: $smooth-borders;
    margin: 0 0 1rem;
    max-width: $max-line-width;
    padding: .8rem 1rem;

    p {
        margin: 0;
    }

    &.admonition-note {
        background: $note-pastel;
    }

    &.admonition-info {
        background: $info-pastel;
    }

    &.admonition-tip {
        background: $tip-pastel;
    }

    &.admonition-warning {
        background: $warning-pastel;
    }
}

// maps
.map {
    min-height: 500px;
}

.mapbox-improve-map,
.mapboxgl-ctrl-logo {
    display: none !important;
}
